/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Onest:wght@700&family=Outfit:wght@100;400;600;700&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Onest:wght@400;700&family=Outfit:wght@100;400;600;700&family=Poppins&display=swap'); */

*{
    padding: 0;
    margin: 0;
    /* font-family:"onset", sans-serif;*/} 
header{
    background: url(/images/hero-img.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position:center, top;
    background-blend-mode: multiply;
    background-color: #312f2f; 
}

.navbars{
    padding: 0 6rem;
    width: 100%;
    height: 6.81rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbarlists{
    width:100%;
    display: flex;
    justify-content: end;
    list-style-type: none;
    
}
.navbars .burger-menu{
    display: none;
}
.navbarlists a{
   font-size: small;
    
}
/* Note: backdrop-filter has minimal browser support */
.navbars .mobileNavMenu{
    display: none;
    
}
@media (max-width:780px) {
    
    .navbars{
        padding: 0 1.38rem;
        width: 100%;
        height: 6.81rem;
        background-color: #FFFFFF;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    } 
    /* .smflx-logo img{
        width: 8.95rem;
        height: 3.29rem;
    }*/

    .navbars .navbarlists{
        display: none;
     } 
    .navbars .burger-menu{
        display: block; 
    }
    .navbars .burger-menu .bar{
        font-size: 1.09rem;
    }
    .navbars .mobileNavMenu{
        width: 80%;
        height: 100vh;
        background-color:rgb(36, 82, 82);
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        color: white;
        padding: 0;
        /* margin: 0; */
        z-index: 999;
        transform: translateX(-200%);
        transition: 1.5s;
       
    }
    .open{
        transform: translateX(5%) !important;
    }
    .navbars .mobileNavMenu .mobileNavbarLists{
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /* margin: 5rem; */
        align-items: center;
        list-style-type: none;
        
       
    }
    /* .navbar .mobileNavMenu .mobileNavbarList a{
        color: 20rem;
    } */
    .navbars .mobileNavMenu a{
        color: white;
        font-size: .8rem;
        font-weight: 700;
        text-decoration: none;
    }
    .navbars .mobileNavMenu .close{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: end;
        align-items: end;
        padding: 0 4rem ;
       
    }
    .navbars .mobileNavMenu .close img{
        font-size: 1.29rem;
        font-family: 500;
    }
}



.services-container{
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.services-container::-webkit-scrollbar{
   width:auto;
}
.services-container img{
    width:330px;
    filter:brightness(70%)
} 
.header-text-container {
   position: relative;
   top: 30%;
   transform: translate(0,50%);
  

}
.header-text-container span{
    color: rgb(94, 216, 216) ;
}
nav li a{
    list-style:none;
    text-decoration: none;
    color: white;
    font-size: 18px;   
}
.mobileMenuEl{
    
}
.open{
    display:block;
    transform: translateX(5%) !important;
}
.section1-content-container h1{
    color: rgb(72, 163, 163);
    
    
}
.swipe{
    color:  rgb(72, 163, 163);
}
.swipe span {
    color: rgb(46, 105, 105) ;
}

.header-text-container-button button {
   border-color:rgb(72, 163, 163) ;
   background-color: transparent;
   color: aliceblue;
   box-shadow: 1px 2px 3px  rgb(77, 76, 76);
   border-bottom-left-radius: 10px;
   border-top-right-radius: 10px;

}

.section2 h2{
    color: rgb(72, 163, 163);
 
}
.section2 span{
    color: rgb(72, 163, 163);
}
/* skills */
.section3 h2{
    color: rgb(72, 163, 163);

}
.progress-bar{
    background-color:rgb(72, 163, 163) ;
}
.section4{
    background-color: rgb(46, 105, 105);
}
.section4 span{
    color: rgb(198, 211, 211);
}
.section4 p{
    color: rgb(174, 190, 190);
    font-size: smaller;
}
.fa-check-circle{
    color:rgb(72, 163, 163) ;
}
.section5 h2{
    color:  rgb(72, 163, 163);
}
.section5 h5{
    color:  rgb(72, 163, 163);
}
.section5 span{
    color: rgb(46, 105, 105);
}
.section5 a{
    text-decoration: none;
    color:  rgb(72, 163, 163);
}
.work-container{
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth; 
}
.work-container::-webkit-scrollbar{
    width: 100%;
}
.work-container img{
    width:330px;
} 
.work-content-container p{
    font-size: smaller;
}
 /* CONTACT */
 .section6 h2{
    color:  rgb(72, 163, 163);
}
 .section6 p{
    font-size: smaller;
 }
 .contact-content-container{
    background-color:rgb(46, 105, 105) ;
    border-radius: 20px;
   
 }
 .contact-content-container p{
    color: rgb(174, 190, 190) ;
 }
 .contact-content-container button{
    color: rgb(181, 223, 223);
 }

 /* TESTIMONIAL */
 
footer{
    background-color:rgb(46, 105, 105) ;
    width: 100%;
}

.footer-line {
    width: 90%;
    margin: 2% auto;
    height: 1px;
    flex-shrink: 0;
    background: rgba(217, 217, 217, 0.13);
}

footer h2 {
    color: #FFF;
    font-family: Saol Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.56px;
    text-transform: uppercase;
    width: 367px;
}

footer p {
    /* width: 414px; */
    color: rgba(255, 255, 255, 0.72);
    font-family: Onest;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    /* 25.6px */
    letter-spacing: 0.72px;
}

footer input {
    width: 100%;
    height: 56px;
    /* padding: 18px 241px 20px 29px; */
    align-items: center;
    border: 0.5px solid rgba(255, 255, 255, 0.17);
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(70px);
}

.susbscribe-button {
    width: 100%;
    height: 56px;
    /* padding: 20px 40px; */
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #C32125;
    color:rgb(46, 105, 105);
    font-family: "Onest",sans-serif;
    border: none;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-left: 1em;
}

footer li {
    margin-top: 1em;
    color: rgba(255, 255, 255, 0.72);
    font-family:" Onest",sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    /* 24px */
    letter-spacing: 0.72px;
    list-style-type: none;
}

footer .active {
    color: #FFF;
    font-family:" Onest",sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 30px */
    letter-spacing: 0.9px;
}
@media(max-width:500px) {
    .header-text-container {
        transform: translate(0,100%);
     
     }
}